/* Global element styling */

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

nav {
    display: flex;
    flex-direction: column;
}

code {
    background: rgba(0, 0, 0, 0.822);
    color: rgb(45, 183, 230);
    border-radius: 2px;
}